plugin: aws_ec2
regions:
  - us-east-1
filters:
  tag:Ansible: managed
  instance-state-name: running
keyed_groups:
  - key: tags.Name
    prefix: tag_name
hostnames:
  - ip-address
compose:
  ansible_host: public_ip_address